* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik Mono One", monospace;
    display: flex;
    min-height: 100vh;
    background: #100f10;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #68c6fb;
    font-size: 9vw;
    position: relative;
}

h1::before {
    content: attr(data-line);
    color: #b6fb68;  
    position: absolute; 
    top: 0; 
    left: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    animation: print 5s linear infinite;
    border-right: 2px solid #fff;
}

@keyframes print {
    0%, 10%, 100% {
        width: 0;
    }
    70%, 90% {
        width: 100%;
    }
}