body {
    margin: 0;
    overflow: hidden;
    position: relative;
    height: 500px;
}
#car {
    position: absolute;
    bottom: 175px;
    left: 0;
    transition: bottom 0.2s linear;
    width: 125px;
}
#car img {
    width: 100%;
}
#traffic-lights {
    width: 80px;
    position: absolute;
    left: 60%;
    bottom: 177px;
}
#traffic-lights img {
    width: 100%; 
}
#tree-1 {
    position: absolute;
    bottom: 175px;
    left: 0;
    transition: bottom 0.1s linear;
    width: 100px;
}
#tree-1 img {
    width: 100%;
}